<div class="sec-padd"></div>
<div class="container">
    <div class="categorie-search">
        <form class="">
            <input type="text" class="form-control" id="exampleInputPassword1"
                placeholder="Search for Authors or Summaries">
        </form>
        <button><i class="fas fa-search"></i></button>
    </div>
    <div class="categories_list mt-5">
        <div class="row">

            <div class="col-xl-2 col-md-3 col-sm-6 mt-3 ">
                <div class="categories_box " [ngClass]="{'active': activeId === 'all Summary'}" (click)="allSummary()">
                    <figure>
                        <img src="https://holyreads.com/front/img/book_all.png" />
                    </figure>
                    <figcaption>All Summary</figcaption>
                </div>
            </div>
            <div *ngFor="let category of catagories.categorylist" class="col-xl-2 col-md-3 col-sm-6 mt-3 ">
                <div class="categories_box" [ngClass]="{'active': category.id === activeId}"
                    (click)="editData(category.id,category.name)">
                    <figure>
                        <img [src]="category.img" />
                    </figure>
                    <figcaption>{{category.name}}</figcaption>
                </div>
            </div>
        </div>
        <div class="sec-padd"></div>
    </div>
    <app-books></app-books>
</div>
