<div class="nav-inner">
  <div class="container">
    <ul class="nav nav-pills pills-svg">
      <li class="nav-item">
        <a routerLink="reading" class="nav-link active">
          <span class="pill-svg-icon">
            <i class="fas fa-book-reader"></i>
          </span>
          Reading Now
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="note-highlight" class="nav-link active">
          <span class="pill-svg-icon">
            <i class="fas fa-pen"></i>
          </span>
          My Notes and Highlights
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="favorite" class="nav-link active">
          <span class="pill-svg-icon">
            <i class="fas fa-star"></i>
          </span>
          My Favorite
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="completed" class="nav-link active">
          <span class="pill-svg-icon">
            <i class="fas fa-check-circle"></i>
          </span>
          Completed
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="">
  <router-outlet></router-outlet>
</div>
