.mynotes ul li {
    margin-bottom: 10px;
}
.mynotes ul li article {
    transition: 0.3s;
    border: 2px solid transparent;
    background: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
}
.mynotes ul li article figure {
    margin-right: 20px;
    width: 160px;
    min-width: 160px;
    height: 170px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 7px 7px 1px rgb(0 0 0 / 20%);
}
.mynotes ul li article figure img {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.mynotes ul li article figcaption {
    width: 100%;
}
.book-info-li {
    position: relative;
    padding-right: 200px;
}
.mynotes ul li article .tit-book {
    font-size: 18px;
    color: #20344b;
}
.mynotes ul li article .tit-book, .mynotes ul li article .book-author, .mynotes ul li article .book-highlights {
    display: block;
}
.mynotes ul li article .book-author {
    color: #fe9925;
    margin: 5px 0;
}
.mynotes ul li article p {
    color: #20344b;
    font-size: 13px;
}
.mynotes ul li article:hover {
    border-color: #fe9925;
}