/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600&display=swap");


body,
html {
  font-family: "Inter", sans-serif !important;
}
img {
  width: 100%;
}
.sec-padd {
  padding: 40px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none !important;
}